* {
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
    font-family: Mukta;
    /* font-style: normal; */
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    overflow-x: hidden;
}

header {
    height: 80px;
    width: 100%;
    position: fixed;
    background-color: #282828;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.bold {
    font-weight: bolder;
}

:root {
    scroll-behavior: smooth;
}

.menu {
    list-style: none;
    display: flex;
}

.menu li a {
    color: #fff;
    display: block;
    text-decoration: none;
    font-size: 25px;
    margin-left: 10px;
}

.menu li a {
    color: #f0f0f0;
    display: block;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    margin-left: 5px;
}

.logo {
    padding-left: 5%;
    height: 50px;
}

.container1 {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 8%;
}

.titulo_home {
    margin-top: 2%;
    color: #404040;
    padding-left: 5%;
    font-size: 60px;
    float: left;
}

.texto_home {
    float: left;
    font-size: 20px;
}

.container1 div {
    padding-left: 5%;
}

.arrow_down {
    padding-left: 7%;
    position: absolute;
    top: 85%;
    left: 1%;
    cursor: pointer;
}

.img_tela {
    max-width: 1100px;
    float: right;
    margin-left: 50%;
    margin-top: -31%;
}

.tag {
    background: #FAF8F5;
    width: 131px;
    height: 32px;
    border: 2px solid #FAF8F5;
    box-sizing: border-box;
    box-shadow: 0px 4px 25px -10px rgba(0, 0, 0, 0.5);
    border-radius: 16px;
    margin-left: 5%;
}

.tag b {
    margin-left: -50%;
    font-family: Mukta;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #707070;
}

.img_celular {
    max-width: 550px;
    margin-top: -550px;
    margin-left: 50%;
}

.container2 {
    width: 100%;
    background: #282828;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 8%;
    padding-left: 15%;
    margin-left: 0%;
    height: 826px;
}

.titulo_sobre, .titulo_quem_somos {
    font-size: 50px;
    color: #fff;
}

.texto_sobre, .texto_quem_somos {
    font-size: 24px;
    text-align: justify;
    height: 132px;
    width: 564px;
    color: #fff
}

.titulo_sobre1, .titulo_quem_somos1 {
    font-size: 50px;
    color: #000;
}

.texto_sobre1, .texto_quem_somos1 {
    font-style: bold;
    text-align: justify;
    height: 132px;
    width: 564px;
    color: #000
}

.texto_quem_somos span {
    padding: 2% 0 2%;
}

.img_component {
    max-width: 800px;
    margin-top: -5%;
    float: right;
    margin-left: 10%;
}

.btn_quero {
    background-color: #EBE7E1;
    border: none;
    border-radius: 16px;
    box-shadow: 0px 5px 10px #575757;
    height: 54px;
    width: 200px;
    margin-top: 60%;
    margin-left: 0;
    cursor: pointer;
    font-size: 24px;
    font-family: 'Mukta', sans-serif;
}

.container3 {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 20%;
    padding-left: 15%;
    margin-left: 2%;
}

.img_component3 {
    height: 850px;
    margin-left: 20%;
    margin-top: -3%;
}

.arrow_dois {
    margin-top: 95%;
}

.container4 {
    margin-top: 10%;
    background-color: #303030;
    width: 100%;
    height: 580px;
    border-radius: 20px;
}

.titulo_falam {
    color: #EBE7E1;
    font-size: 48px;
    font-family: 'Ubuntu', sans-serif;
}

.titulo_clientes {
    margin-left: 18%;
}

.img_component5 {
    margin-left: 26%;
}

.comentario_um {
    position: absolute;
    background-color: #EBE7E1;
    width: 592px;
    height: 284px;
    border-radius: 12px;
    margin-left: 17%;
    margin-top: 12%;
    padding-right: 5%;
    box-shadow: 0px 5px 10px #575757;
}

.comentario_um div, .comentario_dois div {
    font-size: 20px;
    color: #404040;
    margin-top: 20%;
    padding-left: 10%;
}

.img_component4 {
    position: absolute;
    margin-top: -5%;
}

.comentario_dois {
    position: absolute;
    background-color: #EBE7E1;
    width: 592px;
    height: 284px;
    border-radius: 12px;
    margin-left: 34%;
    margin-top: 12%;
    padding-right: 2%;
    box-shadow: 0px 5px 10px #575757;
}

.container5 {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 10%;
    padding-left: 7%;
    margin-left: 4%;
}

.container5 b {
    font-size: 150px;
    color: #404040;
    padding-left: 17%;
}

.container5 div {
    font-size: 40px;
    color: #404040;
    padding-left: 20%;
    text-align: center;
}

.btn_comecar {
    background-color: #282828;
    border: none;
    border-radius: 16px;
    box-shadow: 0px 5px 10px #575757;
    height: 54px;
    width: 200px;
    margin-top: 5%;
    margin-left: 30%;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Mukta', sans-serif;
    color: #fff;
}

.btn_mais {
    border: 2px solid #FAF8F5;
    box-sizing: border-box;
    box-shadow: 0px 4px 25px -10px rgba(0, 0, 0, 0.5);
    border-radius: 16px;
    height: 54px;
    width: 200px;
    margin-top: 5%;
    margin-left: 2%;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Mukta', sans-serif;
}

.button {
    margin-left: -47%;
    font-size: 20px;
    font-family: 'Mukta', sans-serif;
}

.footer {
    color: #8D8C8E;
    background-color: #303030;
    width: 100%;
    height: 400px;
    margin-top: 5%;
    padding-left: 20%;
    padding-top: 3%;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

.footer b {
    font-weight: bold;
    font-size: 40px;
}

.teste1 {
    font-size: 30px;
    margin-top: 7%;
    float: left;
    padding: 20px;
    margin: 20px;
    margin-left: 8%;
}

.footer input {
    display: block;
    width: 306px;
}

#email {
    margin-top: 15%;
}

.footer input, textarea {
    background: transparent;
    border: 0.1px solid #8e8e8e;
    border-radius: 16px;
    height: 35px;
    padding: 10px;
    color: #fff;
}

.footer textarea {
    margin-top: 3%;
    width: 533px;
    height: 200px;
}

.footer button {
    width: 180px;
    height: 55px;
    background: #fff;
    color: #202020;
    font-weight: 600;
    border-radius: 26px;
    margin-left: -3%;
    cursor: pointer;
}

footer {
    font-weight: bold;
    background: #202020;
    color: #8D8C8E;
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
}

@media screen and (max-width: 700px) {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: Mukta;
        font-weight: 400;
        font-size: 22px;
    }
    header {
        height: 80px;
        width: 100%;
        background: transparent;
        position: static;
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .bold {
        font-weight: bolder;
    }
    :root {
        scroll-behavior: smooth;
    }
    .menu {
        list-style: none;
        display: flex;
    }
    .menu li a {
        color: #404040;
        display: block;
        text-decoration: none;
        font-size: 25px;
        margin-left: 10px;
        font-weight: bold;
    }
    .menu li a {
        color: #404040;
        display: block;
        text-decoration: none;
        padding: 10px 20px 10px 20px;
        border-radius: 10px;
        margin-left: 5px;
    }
    .logo {
        padding-left: 5%;
        height: 50px;
    }
    .container1 {
        width: 100%;
        display: block;
        margin:-10% -7%;
    }
    .container1 div {
        margin-left: 10%;
        padding: 20px;
    }
    .container1 button {
        margin-left: -10%;
        padding-right: 10%;
        text-align: center;
        font-weight: bold;
        float: left;
        margin-right: 13%;
    }

    .container1 button span{
        margin-left: 23%;
    }
    .titulo_home {
        margin-top: 2%;
        color: #404040;
        font-size: 50px;
        text-align: center;
        margin-left: 11%;
        font-weight: bold;
    }
    .texto_home {
        float: left;
        font-size: 20px;
        text-align: left;
        width: 100%;
       font-size: 22px;
    }

    .texto_home p{
        font-size: 20px;
        font-weight: 500;
    }

   .texto_home img{
       margin-left: -10%;
   }

    .arrow_down {
        display: none;
    }
    .img_tela {
        display: none;
    }
    .img_celular {
        display: none;
    }

    /*  */


    .container2 {
        width: 100%;
        background: #282828;
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding-top: 8%;
        padding-left: 15%;
        margin-left: 0%;
        height: 706px;
    }
    .titulo_sobre, .titulo_quem_somos {
        font-size: 50px;
        color: #fff;
        margin-left: 5%;
    }
    .texto_sobre, .texto_quem_somos {
        font-size: 20px;
        text-align: left;
        height: 132px;
        width: 564px;
        color: #fff;
        margin-left: -8%;
        margin-top: 5%;
    }
    .titulo_quem_somos1 {
        font-size: 50px;
        color: #000;
        margin-left: 12%;
    }
    .texto_quem_somos1 {
        font-style: bold;
        text-align: left;
        margin-left: -10%;
        height: 132px;
        width: 564px;
        color: #000
    }
    .texto_quem_somos span {
        padding: 2% 0 2%;
    }
    .img_component {
        display: none;
    }
    .btn_quero {
        background-color: #EBE7E1;
        border: none;
        border-radius: 16px;
        box-shadow: 0px 5px 10px #575757;
        height: 54px;
        width: 200px;
        margin-top: 40%;
        margin-left: 20%;
        cursor: pointer;
        font-size: 24px;
        font-family: 'Mukta', sans-serif;
    }

    /* */


    .container3 {
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding-top: 10%;
        padding-left: 15%;
        margin-left: 2%;
        padding-bottom: 10%;
    }


   
    .img_component3 {
        display: none;
    }
    .arrow_dois {
        display: none;
    }

    /**/
    .container4 {
        margin-top: 60%;
        background-color: #303030;
        width: 100%;
        height: 580px;
        border-radius: 10px;
    }
    .titulo_falam {
        color: #EBE7E1;
        font-size: 40px;
        font-family: 'Ubuntu', sans-serif;
       text-align: center;
       justify-content: center;
    }
    .titulo_clientes {
        margin-left: 18%;
    }
    .img_component5 {
        margin-top: 10%;
        margin-left: 62%;
    }
    .comentario_um {
        position: absolute;
        background-color: #EBE7E1;
        width: 592px;
        height: 284px;
        border-radius: 12px;
        margin-left: 17%;
        margin-top: 12%;
        padding-right: 5%;
        box-shadow: 0px 5px 10px #575757;
    }
    .comentario_um div, .comentario_dois div {
        font-size: 20px;
        color: #404040;
        margin-top: 20%;
        padding-left: 10%;
    }
    .img_component4 {
        position: absolute;
        margin-top: -5%;
    }
    .comentario_dois {
        position: absolute;
        background-color: #EBE7E1;
        width: 592px;
        height: 284px;
        border-radius: 12px;
        margin-left: 5%;
        margin-top: 5%;
        padding-right: 2%;
        box-shadow: 0px 5px 10px #575757;
    }

    /**/
    .container5 {
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding-top: 10%;
        padding-left: 7%;
        margin-left: 4%;
    }
    .container5 b {
        font-size: 40px;
        color: #404040;
        padding-left: 20%;
        font-weight: bold;
        text-align: center;
    }
    .container5 div {
        font-size: 20px;
        color: #404040;
        padding-left: 6%;
        text-align: center;
    }
    .btn_comecar {
        background-color: #282828;
        border: none;
        border-radius: 16px;
        box-shadow: 0px 5px 10px #575757;
        height: 54px;
        width: 200px;
        margin-top: 5%;
        margin-left: 10%;
        cursor: pointer;
        font-size: 20px;
        font-family: 'Mukta', sans-serif;
        color: #fff;
    }
    .btn_mais {
        border: 2px solid #FAF8F5;
        box-sizing: border-box;
        box-shadow: 0px 4px 25px -10px rgba(0, 0, 0, 0.5);
        border-radius: 16px;
        height: 54px;
        width: 200px;
        margin-top: 5%;
        margin-left: 2%;
        cursor: pointer;
        font-size: 20px;
        font-family: 'Mukta', sans-serif;
    }
    .button {
        margin-left: -47%;
        font-size: 20px;
        font-family: 'Mukta', sans-serif;
    }

    /**/
    .footer {
        color: #8D8C8E;
        background-color: #303030;
        width: 100%;
        height: 500px;
        margin-top: 5%;
        padding-left: 1%;
        padding-top: 3%;
        border-top-right-radius: 12px;
        border-top-left-radius: 12px;
    }
    .footer b {
        font-weight: bold;
        font-size: 30px;
    }
    .teste1 {
        font-size: 10px;
        margin-top: 7%;
        float: left;
        padding: 20px;
        margin: 20px;
        margin-left: 8%;
    }
    .footer input {
        display: block;
        width: 306px;
    }
    #email {
        margin-top: 5%;
    }
    .footer input, textarea {
        background: transparent;
        border: 0.1px solid #8e8e8e;
        border-radius: 16px;
        height: 35px;
        padding: 10px;
        color: #fff;
    }
    .footer textarea {
        margin-left: 10%;
        margin-top: -3%;
        width: 533px;
        height: 200px;
    }
    .footer button {
        width: 150px;
        height: 55px;
        background: #fff;
        color: #202020;
        font-weight: 600;
        border-radius: 26px;
        margin-left: 70%;
        margin-top: -10%;
        cursor: pointer;
    }
   
}