:root {
    --preto: #202020;
    --branco: #ebe7e1;
    --cinza: #4a4949;
}

* {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: var(--branco);
}

body{
    background: var(--preto);
}

.titulo{
    position: absolute;
    top: 15%;
    left: 25%;
    transform: translate(-50%, -50%);
    display: block;
    font-size: 10px;
}

.line{
    background-color: var(--branco);
    height: 4px;
    width: 84px;
    border-radius: 50px;
}

.logo{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pergunta1{
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
  
}
.pergunta2{
    position: absolute;
    top:48%;
    left: 50%;
    transform: translate(-50%, -50%);
 
}
.pergunta3{
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
   
  
}

.pergunta1 h1,.pergunta2 h1, .pergunta3 h1{
    padding-bottom: 40px;
}


.option{
   display: flex;
   padding: 10px;
}

.option button{
    width: 35px;
    height: 35px;
    border-radius: 100%;
}

.option h3{
    padding-left: 20px;
}

/* .check{
    position: absolute;
    left: 15px;
    top: 90px;
    display: none;
} */

.option:hover{
    background-color: #333333;
    border-radius: 30px;   
}

.option:hover .check{
    display: block;
    cursor: pointer;
} 

.loader, .loader2, .loader3{
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 420px;
    height: 9px;
    background-color: #2C2B2B;
    border-radius: 50px;
}


.progresso{
    background-color: #c4c4c4;
    width: 140px;
    height: 9px;
    border-radius: 50px;
}
.progresso2{
    background-color: #c4c4c4;
    width: 280px;
    height: 9px;
    border-radius: 50px;
}
.progresso3{
    background-color: #c4c4c4;
    width: 420px;
    height: 9px;
    border-radius: 50px;
}

.progresso4{
    background-color: #c4c4c4;
    width: 420px;
    height: 9px;
    border-radius: 50px;
}



@media only screen and (max-width: 1000px){
    .pergunta1 h1{
        font-size: 20px;
        width: 300px;
    }

    .pergunta2 h1{
        font-size: 20px;
        width: 300px;
    }

    .pergunta3 h1{
        font-size: 20px;
        width: 300px;
    }
}




